// @import "_responsive";
.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 999999999;
    transform: translate(calc(-50% + 15px), -50%);
  }
  
  .cursor2 {
    width: 20px;
    z-index: 999999999;

    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }

//Header 
#header {

    .logo {
        margin: 20px;

        img {
            object-fit: cover;
        }
    }

    nav {
        .nav-menu {

            .menu {
                li {

                    .Home {
                        font-weight: bold;

                        &::before {
                            display: block;
                            opacity: 1;
                            visibility: visible;
                            width: 60px;

                        }
                    }

                    a {
                        text-decoration: none;
                        color: #393131;
                        display: inline-block;
                        margin-top: 40px;
                        margin-right: 30px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 52px;
                            width: 0;
                            height: 3px;
                            visibility: hidden;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            opacity: 0;
                            background-color: #393131;
                            transition: .2s all ease-in;
                        }

                        &:hover {
                            &::before {
                                width: 60px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

        }

        .bars {
            display: none;

            ul {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

//Header 


// First Section 
.firstSection {
    height: 500px;
    background-image: url("/image/image2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;

    .sectionContent {
        h1 {
            font-family: 'PP Neue Machina Inktrap Ultrabold';
            font-size: 55px;
            font-weight: 700;
        }

        p {
            font-size: 24px;
            font-family: "inter";
            color: #A5A5A5;
        }

        .button {
            width: 290px;
            height: 77px;
            line-height: 77px;
            text-align: center;
            background-color: #393131;
            cursor: pointer;
            transition: .2s all ease-in;
            color: #ffff;

            &:hover {
                background-color: #FCB401;

                a {
                    color: black;
                }
            }

            a {
                text-decoration: none;
                font-weight: 700;
                font-size: 24px;
                color: #ffff;
                transition: .2s all ease-in;
            }
        }
    }
}

// First Section 


//About-section  Second Section 
.about-section {
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.193);
    padding: 40px;
    padding-left: 100px;
    margin-top: -100px;
    margin-bottom: 60px;
    position: relative;
    border-radius: 8px;
    max-width: 100% !important;

    .about-Header {
        padding-left: 40px;

        p {
            color: #FCB401;
        }

        h1 {
            font-family: 'PP Neue Machina';
            font-weight: bolder;
            font-size: 32px;
        }
    }

    .about-Content {
        padding: 40px;

        // width:60% !important;
        .content-box {
            width: 60%;
            position: relative;

            // border-right: 1px solid #A5A5A5;
            &::before {
                content: "";
                width: 2px;
                color: #A5A5A5;
                position: absolute;
                top: 0%;
                right: 0%;
                height: 200px;
            }

            &.box-2 {
                border: none;
            }

            .content-header {
                width: 180px;
                height: 140px;
                line-height: 100px;
                border-radius: 8px;
                text-align: center;
                background-color: #FFF6EA;
                padding: 20px;

                &.content-2 {
                    background-color: #F0FAFF;
                }
            }

            .content-body {
                padding-top: 20px;

                p {
                    font-size: 20px;
                    font-weight: bold;
                }

                span {
                    color: #A5A5A5;
                    font-size: 16px;
                }

                .button {
                    margin-top: 20px;
                    width: 158px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    background-color: transparent;
                    cursor: pointer;
                    transition: .2s all ease-in;
                    color: black;
                    border: 1px solid #A5A5A5;

                    &:hover {

                        a {
                            color: #FCB401;
                        }
                    }

                    a {

                        text-decoration: none;
                        font-size: 18px;
                        color: black;
                        transition: .2s all ease-in;
                    }
                }
            }
        }

    }
}

//About-section  Second Section 


//About Page Third Section 
.about-econGroup {
    position: relative;

    .about-page {
        background-color: #393131;
        padding: 4rem 0 4rem 4rem;
        width: 70%;

        .left-Content {
            line-height: 2rem;

            p {
                color: #ffffff95;
                font-size: 18px;
            }

            h1 {
                color: #ffff;
            }

            span {

                color: #FCB401;


            }

            .button-about {
                margin-top: 20px;
                width: 158px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: transparent;
                cursor: pointer;
                transition: .2s all ease-in;
                color: black;
                border: 1px solid #A5A5A5;

                &:hover {

                    a {
                        color: #FCB401;
                    }
                }

                a {

                    text-decoration: none;
                    font-size: 18px;
                    color: #fff;
                    transition: .2s all ease-in;
                }
            }
        }

        .right-image {
            position: absolute;
            right: 0%;
            top: 4%;
        }
    }


}

//About Page Third Section 

//Services Section 

.services {
    .services-header {
        p {
            color: #FCB401;
            font-size: 14px;

        }

        h1 {
            font-family: 'PP Neue Machina';
            font-weight: bolder;
            font-size: 48px;
        }
    }

    .services-content {
        .insulation-hader {
            img {
                padding: 5px;
                border: 1px solid #FCB401;
                margin-right: 10px;
            }

            p {
                font-size: 22px;
                font-weight: 650;
            }
        }

        ul {
            margin-left: 70px;

            li {
                &::before {
                    content: "\2022";
                    color: #FCB401;
                    font-weight: bolder;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }

                padding: 5px;

                span {
                    font-size: 18px;
                }
            }
        }
    }
}

//Services Section 


.project-section {
    padding: 5rem 0;

    .project-header {
        p {
            color: #FCB401;
        }

        h1 {
            font-style: "PP Neue Machina";
            font-weight: bolder;
            // position: relative;
            // &::before{
            //     content: "";
            //     position: absolute;
            //     //  left: 60%;
            //     top: 60%;
            //     // width: 600px;

            //     height: 2px ;
            //     background-color: #A5A5A5;
            // }
        }
    }

    #projects {
        .tab {

            li {
                color: #A5A5A5;
                display: inline-block;
                cursor: pointer;
                padding: 10px;

                &.active {
                    color: black;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }

        .images {
            padding: 20px 10px;
        }
    }

    .project-button {

        margin-top: 20px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
        transition: .2s all ease-in;
        color: black;
        border: 1px solid #A5A5A5;

        &:hover {

            a {
                color: #FCB401;
            }
        }

        a {

            text-decoration: none;
            font-size: 18px;
            color: black;
            transition: .2s all ease-in;
        }
    }
}













//this is for responsive design

@media(max-width:567px) {
    #header {
        .logo {
            width: 50%;
        }

        nav {
            position: relative;

            .nav-menu {
                display: none;
            }

            .bars {
                display: block;

                img {
                    margin-top: 25px;
                    width: 25px;
                }

                ul {
                    position: absolute;
                    background-color: white;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    width: 300px;
                    min-width: 100%;
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    top: 68px;
                    left: -309px;
                    right: -100px;
                    height: 0;
                    box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 0.115);
                    transition: .2s ease-in-out;

                    &.active {
                        // transform: translateX(-82%);
                        // display: block;
                        opacity: 1;
                        visibility: visible;
                        height: 180px;
                    }

                    li {
                        a {
                            text-decoration: none;
                            color: black;
                            display: inline-block;
                            padding: 6px;
                            position: relative;
                            z-index: 50;
                            width: 100%;

                            &::before {
                                content: "";
                                width: 2px;
                                height: 100%;
                                position: absolute;
                                left: -20px;
                                top: 5px;
                                background-color: #FCB401;
                                transition: .2s ease-in;
                                opacity: 0;
                                visibility: hidden;
                                z-index: -999;
                                border-bottom-right-radius: 5px;
                                border-top-right-radius: 5px;
                                // border-radius: 5px;
                            }

                            &:hover {
                                &::before {
                                    visibility: visible;
                                    opacity: 1;
                                    width: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .firstSection {
        padding-top: 10em;

        .sectionContent {
            h1 {
                font-size: 35px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    .about-section {
        // padding-left: 0px;
        padding: 0%;
        margin: 0;
        box-shadow: none;

        .about-Header {
            // padding-left: 0%;
            padding: 25px;

            h1 {
                font-size: 25px;
            }
        }

        .about-Content {
            // padding: 0%;
            // margin-left: 20px;
            // text-align: center;
            // padding: 0%;
            padding: 0%;

            padding-left: 64px;

            .content-box {
                text-align: center;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;

                .content-header {
                    margin-right: 10px;

                    .vector-img {
                        padding: 12px;
                    }
                }

                .content-body {

                    // padding-left: 10px;
                    .button {
                        width: 120px;

                    }

                    p {
                        // padding-left: 35px;
                        font-size: 16px;
                    }

                    span {
                        display: none;
                    }
                }

                &.box-2 {
                    margin-top: 20px;
                }
            }
        }
    }

    .about-econGroup {
        padding-top: 4rem;

        .about-page {
            min-width: 100%;
            padding: 2rem 0 2rem 2rem;

            .left-Content {

                p {
                    text-align: justify;
                    font-size: 16px;
                }
            }

            .right-image {
                display: none;
            }
        }
    }

    .project-section {
        #projects {
            ul {
                li {
                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }

            .images {
                img {
                    &:first-child {
                        display: none;
                    }
                }

            }
        }
    }
}

@media(min-width:576px) and (max-width:768px) {
    .about-section {
        .about-Content {
            .content-box {


                &.box-2 {
                    margin-top: 30px;
                }
            }
        }
    }

    .about-econGroup {
        .about-page {
            width: 100%;

            .right-image {
                display: none;
            }
        }
    }

    .project-section {
        #projects {
            .images {
                img {
                    // padding-right: 5px;
                    width: 50%;
                }
            }
        }
    }

}

@media(min-width:768px) and (max-width:992px) {
    .about-econGroup {
        .about-page {
            width: 100%;

            .right-image {
                top: 20%;
            }
        }

    }


}

@media(min-width:992px) and (max-width:1024px) {

    .about-econGroup {
        .about-page {
            padding: 4rem 0 4rem 4rem;

            .left-Content {
                p {
                    width: 400px;
                }
            }

            .right-image {
                top: 10%;
            }
        }
    }
}

//this is for responsive design