.about-pages {
  background-image: url("../image/inr-1.jpg");
  height: 70vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top left !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.about-pages .page-title {
  color: #fff;
  text-align: center;
}

.about-pages .page-title .title-head {
  position: relative;
}

.about-pages .page-title .title-head h1 {
  font-size: 48px;
  font-weight: 700;
  padding: 20px;
  font-family: Playfair Display;
}

.about-pages .page-title .title-head h1::after {
  content: "";
  height: 5px;
  position: absolute;
  top: -5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #ffb703;
  width: 65px;
}

.about-pages .page-title .title-mid p {
  font-size: 16px;
  line-height: 29px;
}

.about-pages .page-title ul {
  background: rgba(255, 255, 255, 0.1);
  padding: 13px 30px;
  max-width: 300px;
  margin: 0 auto;
}

.about-pages .page-title ul li a {
  position: relative;
  padding-right: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.about-pages .page-title ul li a::after {
  content: "";
  position: absolute;
  background-color: #FCB401;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  right: 10px;
  top: 5px;
}

.about-services {
  padding: 8rem 0;
  background-image: url("../image/about-second-bg.jpg");
  background-position: center;
  background-position: center center;
}

.about-services .right-about .sec-title .sub-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: #010d14;
  text-transform: uppercase;
  font-family: Roboto;
  margin: 0 0 10px;
  display: block;
  padding: 10px;
}

.about-services .right-about .sec-title .sub-text img {
  margin-right: 7px;
}

.about-services .right-about .sec-title h2 {
  font-size: 31px;
  font-weight: 700;
  color: #010d14;
  line-height: 41px;
}

.about-services .right-about .sec-title p {
  width: 80%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.about-services .right-about .sec-title .y-middle {
  margin-top: 30px;
}

.about-services .right-about .sec-title .y-middle .about-list li {
  margin-top: 10px;
}

.about-services .right-about .sec-title .y-middle .about-list li i {
  color: #fff;
  padding: 3px;
  background-color: #FCB401;
  border-radius: 100%;
}

.about-services .right-about .sec-title .y-middle .about-list li span {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  color: #010d14;
  padding-left: 5px;
}

.gallery {
  padding: 3rem 0;
}

.gallery .gallery-item:hover .gallery-icon a::after {
  opacity: 0.75;
  visibility: visible;
  bottom: 0;
}

.gallery .gallery-item:hover .gallery-icon a::before {
  visibility: visible;
  opacity: 1;
}

.gallery .gallery-item .gallery-icon {
  margin: 0 3px 0 3px;
}

.gallery .gallery-item .gallery-icon a {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
}

.gallery .gallery-item .gallery-icon a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #010d14;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery .gallery-item .gallery-icon a::before {
  content: "+";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
  z-index: 2;
  font-size: 50px;
  font-weight: 200;
}

@media (max-width: 567px) {
  .gallery .sm-mb-80 {
    margin-bottom: 20px;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #FCB401;
}

#Top {
  position: absolute;
  position: fixed;
  right: 3%;
  top: 90%;
  z-index: 99999999999999999999;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  background-color: #FCB401;
  color: #fff;
  cursor: pointer;
}

#header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 99999;
}

#header .logo {
  margin: 20px;
}

#header .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#header nav .nav-menu .menu li a {
  text-decoration: none;
  color: #393131;
  display: block;
  margin-top: 40px;
  margin-right: 30px;
  position: relative;
  height: 100%;
}

#header nav .nav-menu .menu li a::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 88%;
  width: 0;
  height: 3px;
  visibility: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  opacity: 0;
  background-color: #393131;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

#header nav .nav-menu .menu li a:hover::before {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

#header nav .bars {
  display: none;
}

#header nav .bars ul {
  opacity: 0;
  visibility: hidden;
}

.firstSection {
  height: 700px;
  background-image: url("../image/image2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0;
}

.firstSection .sectionContent h1 {
  font-family: 'PP Neue Machina Inktrap Ultrabold';
  font-size: 55px;
  font-weight: 700;
}

.firstSection .sectionContent p {
  font-size: 24px;
  font-family: "inter";
  color: #A5A5A5;
}

.firstSection .sectionContent .button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #ffff;
  display: inline-block;
  width: 100%;
  width: 290px;
  height: 77px;
  line-height: 77px;
  text-align: center;
  background-color: #393131;
  cursor: pointer;
  color: #ffff;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.firstSection .sectionContent .button a:hover {
  background-color: #FCB401;
}

.firstSection .sectionContent .button a:hover a {
  color: black;
}

.about-section {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.193);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.193);
  padding: 40px;
  padding-left: 100px;
  margin-top: -60px;
  margin-bottom: 60px;
  position: relative;
  border-radius: 8px;
  max-width: 100% !important;
}

.about-section .about-Header {
  padding-left: 40px;
}

.about-section .about-Header p {
  color: #FCB401;
}

.about-section .about-Header h1 {
  font-family: 'PP Neue Machina';
  font-weight: bolder;
  font-size: 32px;
}

.about-section .about-Content {
  padding: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-Content .content-box {
  position: relative;
}

.about-section .about-Content .content-box::before {
  content: "";
  width: 2px;
  color: #A5A5A5;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 200px;
}

.about-section .about-Content .content-box.box-2 {
  border: none;
}

.about-section .about-Content .content-box .content-header {
  width: 180px;
  height: 140px;
  line-height: 100px;
  border-radius: 8px;
  text-align: center;
  background-color: #FFF6EA;
  padding: 20px;
}

.about-section .about-Content .content-box .content-header.content-2 {
  background-color: #F0FAFF;
}

.about-section .about-Content .content-box .content-header.content-3 {
  background-color: #EBFFE8;
}

.about-section .about-Content .content-box .content-body {
  padding: 10px 0  0 0;
}

.about-section .about-Content .content-box .content-body p {
  font-size: 20px;
  font-weight: bold;
}

.about-section .about-Content .content-box .content-body span {
  color: #A5A5A5;
  font-size: 16px;
}

.about-econGroup {
  position: relative;
}

.about-econGroup .about-page {
  background-color: #393131;
  padding: 4rem 0 4rem 4rem;
  border-radius: 5px;
}

.about-econGroup .about-page .left-Content {
  line-height: 2rem;
  padding: 10px;
}

.about-econGroup .about-page .left-Content p {
  color: #ffffff95;
  font-size: 18px;
  padding: 0 50px 0 0;
}

.about-econGroup .about-page .left-Content h1 {
  color: #ffff;
  margin: 10px 0 10px 0;
}

.about-econGroup .about-page .left-Content span {
  color: #FCB401;
}

.about-econGroup .about-page .left-Content .button-about a {
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
  width: 158px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
  color: #fff;
  border: 1px solid #A5A5A5;
}

.about-econGroup .about-page .left-Content .button-about a:hover {
  color: #FCB401;
}

.about-econGroup .about-page .right-image {
  position: absolute;
  right: 0%;
  top: 3%;
}

.about-econGroup .about-page .right-image img {
  width: 80%;
}

.services .services-header p {
  color: #FCB401;
  font-size: 14px;
}

.services .services-header h1 {
  font-family: 'PP Neue Machina';
  font-weight: bolder;
  font-size: 48px;
}

.services .services-content {
  margin-top: 40px;
}

.services .services-content .insulation-hader img {
  padding: 5px;
  border: 1px solid #FCB401;
  margin-right: 10px;
}

.services .services-content .insulation-hader p {
  font-size: 22px;
  font-weight: 650;
}

.services .services-content ul {
  margin-left: 70px;
}

.services .services-content ul li {
  padding: 5px;
}

.services .services-content ul li::before {
  content: "\2022";
  color: #FCB401;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.services .services-content ul li span {
  font-size: 18px;
}

.project-section {
  padding: 5rem 0;
}

.project-section .project-header p {
  color: #FCB401;
}

.project-section .project-header h1 {
  font-style: "PP Neue Machina";
  font-weight: bolder;
}

.project-section #projects .tab li {
  color: #A5A5A5;
  display: inline-block;
  cursor: pointer;
  padding: 7px;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.project-section #projects .tab li.active {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.project-section #projects .images {
  padding: 20px 10px;
}

.project-section #projects .images img {
  padding-right: 5px;
  width: 49%;
}

.project-section .project-button a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
  color: black;
  border: 1px solid #A5A5A5;
}

.project-section .project-button a:hover {
  color: #FCB401;
}

.european {
  background-image: url("../image/European.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 663px;
}

.european .euro-content {
  color: #ffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 50px;
}

.european .euro-content h1 {
  font-family: "PP Neue Machina";
  font-size: 48px;
  font-weight: bolder;
}

.european .euro-content p {
  width: 50%;
}

.ourPartners {
  padding: 4rem 0;
}

.ourPartners p {
  color: #FCB401;
}

.ourPartners h1 {
  font-family: "PP Neue Machina";
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.ourPartners .slider {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background-color: #fff;
  padding-top: 10px;
}

.ourPartners .slider .slide {
  padding: 40px 0 40px 40px;
}

.ourPartners .slider .slide a {
  display: inline;
  text-decoration: none;
  padding: 0%;
}

.ourPartners .slider .slide a img {
  max-width: 100%;
  width: 50%;
}

#footer .footer-head {
  padding: 2rem 0;
}

#footer .footer-head .left-footer .left-head a {
  text-decoration: none;
  color: #FCB401;
}

#footer .footer-head .left-footer .left-head h1 {
  font-weight: bolder;
  font-family: 'PP Neue Machina';
  font-size: 40px;
  color: #393131;
}

#footer .footer-head .left-footer .left-body p {
  color: #A5A5A5;
}

#footer .footer-head .left-footer .left-body a {
  text-decoration: none;
  color: #FCB401;
  display: inline-block;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin: 0 0 10px 0;
}

#footer .footer-head .left-footer .left-body a:hover {
  color: #A5A5A5;
}

#footer .footer-head .left-footer .left-body .icons {
  margin-top: 20px;
}

#footer .footer-head .left-footer .left-body .icons a {
  text-decoration: none;
  display: inline-block;
}

#footer .footer-head .left-footer .left-body .icons a .wp {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #A5A5A5;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#footer .footer-head .left-footer .left-body .icons a .wp:hover {
  background-color: #48C857;
}

#footer .footer-head .left-footer .left-body .icons a .insta {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: grey;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#footer .footer-head .left-footer .left-body .icons a .insta:hover {
  background-color: #FF30DF;
}

#footer .footer-head .left-footer .left-body .icons a .linkd {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: grey;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#footer .footer-head .left-footer .left-body .icons a .linkd:hover {
  background-color: #0A63BC;
}

#footer .footer-head .left-footer .left-body .icons a .face {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: grey;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#footer .footer-head .left-footer .left-body .icons a .face:hover {
  background-color: #0A63BC;
}

#footer .footer-head .left-footer .left-body .icons a i {
  margin: 10px;
  font-size: 24px;
  color: #fff;
}

#footer .footer-head .left-footer .left-body .phone {
  color: #FCB401;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-top: 10px;
  display: inline-block;
}

#footer .footer-head .left-footer .left-body .phone p {
  margin-right: 5px;
}

#footer .footer-head .left-footer .left-body .phone:hover {
  color: black;
}

#footer .footer-head .left-footer .left-body ul li {
  padding: 10px;
}

#footer .footer-head .left-footer .left-body ul li p {
  cursor: pointer;
}

#footer .footer-head .left-footer .left-body ul li p.active {
  color: black;
}

#footer .footer-head .left-footer .left-body .e-mail {
  color: #A5A5A5;
}

#footer .footer-head .left-footer .left-body .e-mail span {
  color: #FCB401;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#footer .footer-head .right-footer {
  margin-top: 6rem;
}

#footer .footer-head .right-footer .button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#footer .footer-head .right-footer .button-submit span {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background-color: #FCB401;
  text-align: center;
}

#footer .footer-head .right-footer .button-submit .sendButton {
  border: none;
  background-color: #fff;
  color: #A5A5A5;
}

#footer .footer-head .right-footer .button-submit:hover span {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

#footer .footer-head .right-footer a {
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #A5A5A5;
  color: #FCB401;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-top: 10px;
  margin-bottom: 30px;
}

#footer .footer-head .right-footer a:hover {
  color: black;
}

#footer .footer-head .right-footer .fullName {
  border: none;
  border-bottom: 1px solid #A5A5A5;
  outline: none;
  width: 100%;
  margin-top: 10px;
}

#footer .footer-bottom .footerLogo {
  width: 150px;
}

#footer .footer-bottom p {
  color: #A5A5A5;
  font-size: 14px;
}

#footer .footer-bottom img {
  width: 100px;
}

@media (max-width: 567px) {
  #header .logo {
    width: 50%;
  }
  #header nav {
    position: relative;
  }
  #header nav .nav-menu {
    display: none;
  }
  #header nav .bars {
    display: block;
    z-index: 9999;
  }
  #header nav .bars img {
    margin-top: 25px;
    width: 25px;
  }
  #header nav .bars ul {
    position: absolute;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 300px;
    min-width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 68px;
    left: -309px;
    right: -100px;
    height: 0;
    -webkit-box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 0.115);
            box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 0.115);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  #header nav .bars ul.active {
    opacity: 1;
    visibility: visible;
    height: 180px;
  }
  #header nav .bars ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 6px;
    position: relative;
    z-index: 50;
    width: 100%;
  }
  #header nav .bars ul li a::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 5px;
    opacity: 0;
    visibility: hidden;
    z-index: -999;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  #header nav .bars ul li a:hover::before {
    visibility: visible;
    opacity: 1;
    width: 300px;
  }
  .firstSection {
    padding-top: 10em;
    height: 500px;
  }
  .firstSection .sectionContent h1 {
    font-size: 35px;
  }
  .firstSection .sectionContent p {
    font-size: 20px;
  }
  .firstSection .sectionContent .button a {
    width: 170px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
  }
  .about-section {
    padding: 0%;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .about-section .about-Header {
    padding: 25px;
  }
  .about-section .about-Header h1 {
    font-size: 21px;
  }
  .about-section .about-Content {
    padding: 20px 0 40px 29px;
  }
  .about-section .about-Content .content-box {
    text-align: center;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-section .about-Content .content-box .content-header {
    margin-right: 10px;
    width: 129px;
    height: 125px;
    list-style: 125px;
    margin-right: 20px;
  }
  .about-section .about-Content .content-box .content-header .vector-img {
    padding: 12px;
  }
  .about-section .about-Content .content-box .content-body p {
    font-size: 16px;
    width: 40%;
    margin-left: 26px;
  }
  .about-section .about-Content .content-box .content-body span {
    display: none;
  }
  .about-section .about-Content .content-box.box-2 {
    margin-top: 20px;
  }
  .about-econGroup {
    padding-top: 4rem;
  }
  .about-econGroup .about-page {
    min-width: 100%;
    border-radius: 0%;
    padding: 2rem 0 2rem 2rem;
  }
  .about-econGroup .about-page .left-Content {
    line-height: 28px;
  }
  .about-econGroup .about-page .left-Content span {
    font: 15px;
    margin-bottom: 20px;
  }
  .about-econGroup .about-page .left-Content h1 {
    font-size: 22px;
  }
  .about-econGroup .about-page .left-Content p {
    text-align: justify;
    font-size: 14px;
  }
  .about-econGroup .about-page .left-Content .button-about a {
    width: 128px;
    height: 40px;
    line-height: 40px;
  }
  .about-econGroup .about-page .right-image {
    display: none;
  }
  .project-section #projects ul li:nth-child(2) {
    display: none;
  }
  .project-section #projects ul li:nth-child(3) {
    display: none;
  }
  .project-section #projects .images img {
    width: 100%;
  }
  .project-section #projects .images img:first-child {
    display: none;
  }
  .european {
    height: 100%;
  }
  .european .euro-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .european .euro-content h1 {
    font-size: 22px;
  }
  .european .euro-content p {
    width: 100%;
  }
  .ourPartners .slider {
    padding: 0%;
  }
  .ourPartners .slider .slide {
    padding: 6rem;
  }
  .ourPartners .slider .slide a img {
    width: 100%;
  }
  #footer .footer-head .left-footer .left-head h1 {
    margin: 10px 0 10px 0;
  }
  #footer .footer-head .right-footer .button-submit {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #footer .footer-bottom p {
    margin: 19px 0;
  }
  #footer .footer-bottom a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 10px 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .about-section .about-Content .content-box.box-2 {
    margin-top: 30px;
  }
  .about-econGroup .about-page {
    width: 100%;
  }
  .about-econGroup .about-page .right-image {
    display: none;
  }
  .project-section #projects .images img {
    width: 49%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #header nav .nav-menu ul li a::before {
    top: 100%;
  }
  .about-econGroup .about-page {
    width: 100%;
  }
  .about-econGroup .about-page .right-image {
    top: 20%;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .about-econGroup .about-page {
    padding: 4rem 0 4rem 4rem;
  }
  .about-econGroup .about-page .left-Content p {
    width: 400px;
  }
  .about-econGroup .about-page .right-image {
    top: 15%;
    right: 5%;
  }
  .about-econGroup .about-page .right-image img {
    width: 100%;
  }
}
/*# sourceMappingURL=Main.css.map */